name: Release

on:
  push:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          config-file: release-config.json
          manifest-file: .release-manifest.json
          skip-github-pull-request: ${{ github.event_name == 'push' }}
